<!-- Footer -->
<footer id="footer">

<!-- Container -->
<div class="container">

  <div class="sixteen columns">

    <ul class="social-networks">
      <li><a href="https://www.facebook.com/le.chang.733"><i class="icon-facebook"></i></a></li>
      <li><a href="https://github.com/mychangle"><i class="icon-github"></i></a></li>
      <li><a href="http://www.linkedin.com/pub/le-chang/27/a95/886"><i class="icon-linkedin"></i></a></li>
      <li><a href="http://weibo.com/1820149111"><i class="icon-weibo"></i></a></li>
      <li><a href="http://www.renren.com/221773603"><i class="icon-renren"></i></a></li>
    </ul>

  </div>

</div><!-- / Container -->

</footer><!-- / Footer -->
